In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic_train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.361582,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.019697,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [6]:
df.loc[df["Sex"] == "male", "Sex"] = 0
df.loc[df['Sex'] == 'female', 'Sex'] = 1

In [7]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [8]:
df["Embarked"] = df["Embarked"].fillna('S')
df.loc[df["Embarked"] == "S", "Embarked"] = 0
df.loc[df['Embarked'] == 'C', 'Embarked'] = 1
df.loc[df['Embarked'] == 'Q', 'Embarked'] = 2

In [9]:
df['Embarked'].unique()

array([0, 1, 2], dtype=object)

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import KFold

predictors = ['Pclass','Sex', 'Age', 'SibSp', 'Parch','Fare','Embarked']

alg1 = LinearRegression()

kf = KFold(df.shape[0], n_folds=3, random_state=1)

predictions = []

for train, test in kf:
    # 获取训练数据
    train_predictiors = (df[predictors].iloc[train, :])
    train_target = (df['Survived'].iloc[train])
    
    # 训练模型
    alg1.fit(train_predictiors, train_target)
    
    # 对测试数据进行预测
    test_predictiors = alg1.predict(df[predictors].iloc[test, :])
    
    # 将本次结果添加到predictions
    predictions.append(test_predictiors)

/Users/pengyi/anaconda3/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)
/Users/pengyi/anaconda3/lib/python3.6/site-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)
/Users/pengyi/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [11]:
import numpy as np

In [12]:
predictions = np.concatenate(predictions, axis=0)
predictions[predictions > 0.5] = 1
predictions[predictions <= 0.5] = 0
accuracy = sum(predictions == df['Survived'])/len(predictions)
print(accuracy)

0.7833894500561167

In [13]:
from sklearn import cross_validation
from sklearn.linear_model import LogisticRegression

alg2 = LogisticRegression(random_state=1)
scores = cross_validation.cross_val_score(alg2, df[predictors], df['Survived'], cv=3)
print(scores)
print(scores.mean())

[0.78451178 0.78787879 0.79124579]
0.7878787878787877

/Users/pengyi/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/pengyi/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/pengyi/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [14]:
# 读取测试数据
test_df = pd.read_csv('titanic_train.csv')
test_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
# 对测试数据进行处理
test_df['Age'] = test_df['Age'].fillna(df['Age'].median())
test_df.loc[test_df["Sex"] == "male", "Sex"] = 0
test_df.loc[test_df['Sex'] == 'female', 'Sex'] = 1
test_df["Embarked"] = test_df["Embarked"].fillna('S')
test_df.loc[test_df["Embarked"] == "S", "Embarked"] = 0
test_df.loc[test_df['Embarked'] == 'C', 'Embarked'] = 1
test_df.loc[test_df['Embarked'] == 'Q', 'Embarked'] = 2

In [16]:
# 使用上面训练的模型预测,并查看准确率
test_predictiors = alg1.predict(test_df[predictors])
test_predictiors[test_predictiors > 0.5] = 1
test_predictiors[test_predictiors <= 0.5] = 0
accuracy = sum(test_predictiors == test_df['Survived'])/len(test_predictiors)
print(accuracy)

0.797979797979798

In [17]:
from sklearn import cross_validation
from sklearn.ensemble import RandomForestClassifier

In [18]:
predictors = ['Pclass','Sex', 'Age', 'SibSp', 'Parch','Fare','Embarked']
rf = RandomForestClassifier(random_state=1, n_estimators=10, min_samples_split=2, min_samples_leaf=1)
kf = cross_validation.KFold(df.shape[0], n_folds=3, random_state=1)
scores = cross_validation.cross_val_score(rf, df[predictors], df['Survived'], cv = kf)
print(scores.mean())

0.7856341189674523

In [19]:
rf = RandomForestClassifier(random_state=1, n_estimators=50, min_samples_split=4, min_samples_leaf=2)
kf = cross_validation.KFold(df.shape[0], n_folds=3, random_state=1)
scores = cross_validation.cross_val_score(rf, df[predictors], df['Survived'], cv = kf)
print(scores.mean())

0.8159371492704826

In [20]:
# 提取家庭成员人数
df['FamilySize'] = df['SibSp'] + df['Parch']
# 提取名字长度
df['Namelength'] = df['Name'].apply(lambda x: len(x))

In [37]:
import re 

def get_title(name):
    title_search = re.search(', ([A-Za-z]+)\.', name)
    if title_search:
        return title_search.group(1)
    return ''

titles = df['Name'].apply(get_title)
print(pd.value_counts(titles))
title_map = {'Mr': 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr": 5, "Rev": 6, "Col": 7, "Mlle": 8,
            "Major": 9, "Jonkheer": 10, "Don": 11, "Sir": 12, "Mme": 13, "Ms": 14, "Lady":15, "Capt": 16, "": 17}

for k, v in title_map.items():
    titles[titles == k] = v
    
print(pd.value_counts(titles))
df['Title'] = titles

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Col           2
Mlle          2
Major         2
Jonkheer      1
Don           1
Sir           1
Mme           1
Ms            1
Lady          1
Capt          1
              1
Name: Name, dtype: int64
1     517
2     182
3     125
4      40
5       7
6       6
8       2
7       2
9       2
16      1
10      1
11      1
12      1
13      1
14      1
15      1
17      1
Name: Name, dtype: int64